*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#top{
    height:calc(100vh - 60px);
    background-color: rgb(37, 2, 2);
}
#bottom{
    height: 60px;
    background-color: #282828;
}
#sidebar{
    width: 200px;
    background-color: #000000;
    color: #717479;
    font-weight: 700;
}
#content{
    width: calc(100vw - 200px);
    background-color: #141922;
    overflow-y: auto;
}
header{
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 60px;
   
    
}
.container{
    width: 100%;
    margin-top: 60px
}
.top-content{
    display: flex;
    background-color: blueviolet;
    height: 100%;
}
.col-100{
    width: 100%;
}
.col-16{
    width: calc(100% / 6 - 20px);
    margin: 10px;
    
}
.row{
    display: flex;
    width: 100%;
    
}
.row-noflex{
    width: 100%;
}

.main-content{

}
.btnUP{
    padding: 10px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: relative;
    left: 68%;
    
    margin: 10px;
}

img{
    width: 100%;
}
.ul-nav{
    display: flex;
    gap: 10px;
    list-style: none;
    color: #717479;
    justify-content: center;
    margin: 20px;
    font-size: 10px;
    font-weight: 700;
}
.margin-top-bot{
    margin: 10px;
}
h3{
    color: #fff;

}
.sottotesto{
    text-align: center;
    color: white;
    margin-top: 10px;
    
}
.testopiccolo{
    margin: 10px;
    font-size: 12px;
    color: #717479
}
.imgtonda{
    border-radius: 50%;
}
.logo{
    width: 70%;
    margin: 10px;
}
.font-size-12{
    font-size: 12px;
    color: #717479
}
.icona{
    width: 15%;
    color: #717479;
    float: left;
    
}

.text-color-white{
    color: #fff;
}
li{
    list-style: none;
}

.gap {
    gap:10px;
    line-height: 30px;
}
.sfondo{
    background-color: #717479;
    border-radius: 50%;
}