*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif
}
#top{
    height:calc(100vh - 60px);
}
#bottom{
    height: 60px;
    background-color: #282828;
    position: fixed;
    z-index: 1;
    width: 100%;
}
#sidebar{
    width: 200px;
    background-color: #000000;
    color: #717479;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#content{
    width: calc(100vw - 200px);
    background-color: #141922;
    overflow-y: auto;
}
.playlist{
    height: 30vh;
    overflow-y: auto;
}

.album{
    position: relative;
    height: 100%;
    width: 100%;
    display: block
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    color:white;
    font-size: 50px;
    background-color: rgba(0,0,0,0.5);
    display:none;
    
}
.album:hover .overlay{
    display: block;
    left: 0;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
}
header{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 60px;
    position: fixed;
    z-index: 1;
}
.container{
    width: 100%;
    margin-top: 60px
}
.top-content{
    display: flex;;
    height: 100%;
}
.col-100{
    width: 100%;
}
.col-16{
    width: calc(100% / 6 - 20px);
    margin: 10px;
    
}
.col-25{
    width: calc(100% / 4 - 20px);
    margin: 10px;
}

.col-50{
    width: calc(100% / 2 - 20px);
    margin: 10px
}
.row{
    display: flex;
    width: 100%;
}
.row-noflex{
    width: 100%;
}


.btnUP{
    padding: 10px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    
    

/* EFFETTI HOVER */
}
li:hover{
    color:white
}
span:hover{
    color:white
}

img{
    width: 100%;
}
.ul-nav{
    display: flex;
    gap: 10px;
    list-style: none;
    color: #717479;
    justify-content: center;
    margin: 20px;
    font-size: 10px;
    font-weight: 700;
}
.margin-top-bot{
    margin: 10px;
}
h3{
    color: #fff;

}
.sottotesto{
    text-align: center;
    color: white;
    margin-top: 10px;
    
}
.testopiccolo{
    margin: 10px;
    font-size: 12px;
    color: #717479
}
.imgtonda{
    border-radius: 50%;
}
.logo{
    width: 70%;
    margin: 10px;
}
.font-size-12{
    font-size: 12px;
    color: #717479
}
.icona{
    width: 15%;
    color: #717479;
    float: left;
    
}

.text-color-white{
    color: #fff;
}
li{
    list-style: none;
}
.line-height{
    line-height: 30px;
}
.gap {
    gap:10px;
    
}
.margin{
    margin-left: 10px;
}
.sfondo{
    background-color: #717479;
    border-radius: 50%;
}
.show{
    display: none;
    text-align: center;
    margin-top: 10px;
    
}
.text-align{
    text-align:center;
}
.fondosidebar{
    width: 100%;
    
}
.a{
    vertical-align: middle;
    font-size: 30px;
    width: 30px;
    
}
.top-sidebar{
    width: 100%;
}

@media screen  and  (min-width:300px) and (max-width: 768px){
    .col-16{
        width: calc(100% / 2 - 20px);
    }
    .row{
        flex-wrap: wrap;
    }
    #sidebar{
        width: 70px;
    }
    .ul-nav{
        flex-wrap: wrap;
    }
    .hide{
        display: none;
    }
    #content{
        width: calc(100vw - 70px);
    }
    .show{
        display: block;
    }
        
    .icona{
        width: 50px;
    }
    .circle{
        text-align: center;
    }
   .justify-end{
    display: flex;
    justify-content: center;
   }
   
   


/* @media screen and (min-height: 300px) {
    .fondosidebar{
        position: relative
    }
    #bottom{
        z-index: 1;
        position: relative;
    } */
    
}

    
