*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif
}
#top{
    height:calc(100vh - 80px);
}
#bottom{
    height: 80px;
    background-color: #282828;
    position: fixed;
    z-index: 1;
    width: 100%;
}
#sidebar{
    width: 200px;
    background-color: #000000;
    color: #717479;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    
}
.circle{
    font-size: 15px;
}
.play {
    font-size:30px;
}
.d-flex{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}
.margin-left{
    margin-left: 60px;
}
.imgfooter{
    width: 35px;
    float: left
}
.heart{
    margin-left: 30px;
    vertical-align: middle;
    color:red
}
.folder{
    margin-left: 10px;
}
#content{
    width: calc(100vw - 200px);
    background-color: #141922;
    overflow-y: auto;
}
.playlist{
    height: 30vh;
    overflow-y: auto;
}
.border-radius{
    border-radius: 50%
}
.album{
    position: relative;
    width: 100%;
    display: block
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    color:white;
    font-size: 50px;
    background-color: rgba(0,0,0,0.5);
    display:none;
    
}
.album:hover .overlay{
    display: block;
    left: 0;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
}
header{
    width: calc(100% - 200px);
    background-color: rgba(0,0,0,0.5);
    height: 60px;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
      
}
.container{
    width: 100%;
    margin-top: 60px
}
.top-content{
    display: flex;;
    height: 100%;
}
.col-100{
    width: 100%;
}
.col-16{
    width: calc(100% / 6 - 20px);
    margin: 10px;
    
}
.col-30{
    width: calc(30% - 20px);
    margin: 10px;
    padding: 5px
}

.col-40{
    width: calc(40% - 20px);
    margin: 10px
}
.row{
    display: flex;
    width: 100%;
}
.row-noflex{
    width: 100%;
}
.margin-top
{
    margin-top: 30px
}

.btnUP{
    padding: 10px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    
    

/* EFFETTI HOVER */
}
li:hover{
    color:white
}
span:hover{
    color:white
}

img{
    width: 100%;
}
.ul-nav{
    display: flex;
    gap: 10px;
    list-style: none;
    color: #717479;
    justify-content: center;
    margin: 20px;
    font-size: 10px;
    font-weight: 700;
}
.margin-top-bot{
    margin: 10px;
}
h3{
    color: #fff;

}
.sottotesto{
    text-align: center;
    color: white;
    margin-top: 10px;
    
}
.testopiccolo{
    margin: 10px;
    font-size: 12px;
    color: #717479
}
.imgtonda{
    border-radius: 50%;
}
.logo{
    width: 70%;
    margin: 10px;
}
.font-size-12{
    font-size: 12px;
    color: #717479
}
.icona{
    width: 15%;
    color: #717479;
    float: left;
    
}
.text-color-grey{
    color: #717479;
}

.text-color-white{
    color: #fff;
}
li{
    list-style: none;
}
.line-height{
    line-height: 30px;
}
.gap {
    gap:10px;
    
}
.margin{
    margin-left: 10px;
}
.sfondo{
    background-color: #717479;
    border-radius: 50%;
}
.show{
    display: none;
    text-align: center;
    margin-top: 10px;
    
}
.text-align{
    text-align:center;
}
.fondosidebar{
    overflow-y: auto;
}
.a{
    vertical-align: middle;
    font-size: 30px;
    width: 30px;
    
}
.top-sidebar{
    width: 100%;
}
.justify-center{
    vertical-align: center;
}
.font-size-25{
    font-size: 25px;
}
.font-size-40{
    font-size: 40px;
}
.timebar{
    height: 5px;
    width: 50%;
    border-radius: 20%;
    background-color: #b3b3b3;
    margin: 0 5px;
    
}
.timebar2{
    height: 5px;
    width: 30%;
    border-radius: 20%;
    background-color: #fff;

}
.timebar2:hover {
    background-color: green;
}

/* MEDIA L */
@media screen and (min-width:611px) and (max-width:810px){
    .col-16{
        width: calc(100% / 4 - 20px)
    }
    .row{
        flex-wrap: wrap;
    }
}
/* MEDIA S */
@media screen  and  (min-width:486px) and (max-width: 610px) {
    .col-16{
        width:calc(100% / 2 - 20px);
    }
    .row{
        flex-wrap: wrap;
    }
    
    .ul-nav{
        flex-wrap: wrap;
    }
    
  
   
   .d-flex{
    gap:10px
   }
   .timebar2:hover {
    background-color: green;
}
    .col.40{
        width: calc(100% / 3 - 20px);
    }
    .col.20{
        width: calc(100% / 3 - 20px);
    }
    .font-size-25{
        font-size: 20px
    }
    .font-size-40{
        font-size: 30px;
    }
    .header{
        width: 100%;
    }
}

/* MEDIA XS */
@media screen  and  (max-width:485px) {
    .col-16{
        width:calc(100% / 2 - 20px);
    }
    header{
        width: calc(100% - 70px);
    }

    .row{
        flex-wrap: wrap;
    }
    #sidebar{
        width: 70px;
    }
    .ul-nav{
        flex-wrap: wrap;
    }
    .hide{
        display: none;
    }
    #content{
        width: calc(100vw - 70px);
    }
    .show{
        display: block;
    }
    .icona{
        width: 50px;
    }
    .circle{
        text-align: center;
    }
   .justify-end{
    display: flex;
    justify-content: center;
   }
   .d-flex{
    gap:10px
   }
   
    .col.40{
        width: calc(100% / 3 - 20px);
    }
    .col.20{
        width: calc(100% / 3 - 20px);
    }
    .font-size-25{
        font-size: 20px
    }
}
   



    
